*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: solid black 1px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
nav{
    background-color: #37583E;
    color: #f2f4f3;
    
    font-weight: bold;
    font-stretch:extra-expanded;
    text-transform: capitalize;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(auto-fit, 350px) 1fr;
    place-content: center space-between;
}
nav ul{
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: unset;
    font-weight: bold;
}
.left-nav{
    display: grid;
    grid-auto-flow: column;
   
    height:5rem;
    place-content: center space-between;
    
}
.left-nav a{
    display: grid;
    place-content: center;
    padding: 28px 40px;
}
.left-nav a:hover{
    text-decoration: underline;
}
.left-nav .menu-logo:hover{
background-color: #526155;
}
.slide-in-menu {
    
    display: grid;
    place-content: center;
    gap: 2rem;
    width: 105px;
    padding-bottom: 1.7rem;
    list-style: none;
    background-color: #37583E;
    position: fixed;
    top: 5rem;
    left: 0;
    transform: translateX(-1000px);
    transition: 1s;
    text-decoration: none;
    color: unset;
    
  }
  .slide-in-menu li{
      display: grid;
      
      font-size: 10px;
  }
  .menu-logo:hover .slide-in-menu{
    transform: translateX(0px);
    transition: 0.3s;
  }

.menu-logo:hover {
background-color: #526155;
}
#country{
    display: grid;
    place-content: start;
    font-size: 15px;
}
.country:hover{
    text-decoration: underline;
}





.slide-in-menu-news {
    
    display: grid;
    place-content: start;
    gap: 2rem;
    width: 120px;
    padding-bottom: 1.7rem;
    list-style: none;
    background-color: #37583E;
    position: fixed;
    top: 5rem;
    left: 6.6rem;
    transform: translateY(-1000px);
    transition: 1s;
    text-decoration: none;
    color: unset;
    padding-left: 5px;
    padding-top: 5px;
    
  }
  .slide-in-menu-news .country{
      display: grid;
      place-items: start;
      font-size: 10px;
  }
  .news:hover .slide-in-menu-news{
    transform: translateY(0px);
    transition: 0.3s;
  }
  .country:hover{
    text-decoration: underline;
}




.slide-in-menu-policy {
    
    display: grid;
    place-content: start;
    gap: 2rem;
    width: 123px;
    padding-bottom: 1.7rem;
    list-style: none;
    background-color: #37583E;
    position: fixed;
    top: 5rem;
    left: 14.15rem;
    transform: translateY(-1000px);
    transition: 1s;
    text-decoration: none;
    color: unset;
    padding-left: 5px;
    padding-top: 5px;
    
  }
  .slide-in-menu-policy .country{
      display: grid;
      place-items: start;
      font-size: 10px;
  }
  .policy:hover .slide-in-menu-policy{
    transform: translateY(0px);
    transition: 0.3s;
  }
  .country:hover{
    text-decoration: underline;
}







.slide-in-menu-opinion {
    
    display: grid;
    place-content: start;
    gap: 2rem;
    width: 135px;
    padding-bottom: 1.7rem;
    list-style: none;
    background-color: #37583E;
    position: fixed;
    top: 5rem;
    left: 22rem;
    transform: translateY(-1000px);
    transition: 1s;
    text-decoration: none;
    color: unset;
    padding-left: 5px;
    padding-top: 5px;
    
  }
  .slide-in-menu-opinion .country{
      display: grid;
      place-items: start;
      font-size: 10px;
  }
  .opinion:hover .slide-in-menu-opinion{
    transform: translateY(0px);
    transition: 0.3s;
  }
  .country:hover{
    text-decoration: underline;
}
.right-nav{
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    height:5rem;
}
#tv{
    background-color: #791510;
}
#tv:hover{
    background-color: #703330;
    text-decoration: none;
}
.right-nav{
    display: grid;
    grid-auto-flow: column;
    place-content: center;
}
.right-nav a{
    padding: 26px;
}
.right-nav a:hover{
    text-decoration: underline;
}
#end-page:hover{
    background-color:#526155 ;
}






section{
    margin-left: 8rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 864px;
    place-content: center space-between;
    width: auto;
    gap: 1rem;
    height: auto;
}
section img{
    display: grid;
    place-content: center;
    height: 100%;
    padding: 1rem;
}
section img:hover{
   width: 0;
}
section img:hover{
    font-display: none;
    background-color:#37583E ;
    background-image: url("/Assets/search_white_24dp.svg");
    background-repeat: no-repeat;
    background-size:initial;
    background-position: center;
    padding: 1.555555555rem;
}
section:hover .search{
  width: 100%;
  transition: 1s;
}
section .search{
    font-size: 20px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style:none;
    border-bottom-style: inset;
    margin: 5px;
    transition:1s;
    overflow:hidden;
    width:0;
}









header ul{
    list-style: none;
    display: grid;
    grid-template-rows: repeat(7, autofit);
    place-items: start;
    width: 250px;
    margin-left: 8rem;
    display: grid;
    border-right-style: inset;
    
}
header ul h1{
    display: grid;
    width: 217px;
    place-items: center;
    padding: 4rem 0rem;
    background-color: #37583E;
    color: #f2f4f3;
    font-family: Arial, Helvetica, sans-serif;
}
header .just-in{
    display: grid;
    place-content: start;
    border-bottom-style: inset;
}
.just-in h2{
    display: grid;
    grid-template-rows: 90px;
    align-items: center;
    color: #0505059d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-item{
    display: grid;
    grid-template-rows: repeat(2, autofit);
    place-content: center;
    gap: 1rem;
    width: 200px;
    padding: 2rem 0;
    border-bottom-style: inset;
}
.header-item a{
    text-decoration: none;
    color: unset;
    transition: 0.5s;
    min-height: max-content;
}
.header-item a h3,
.header-item h4{
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1rem;
    font-weight: 800;
}
.header-item:hover a{
    transform: scale(1.01, 1.01);
    border: none;
    transition: 0.5s;
    box-shadow: 1px 1px 1px black;
}
.header-item h4{
    color:#37583E;
    text-transform: uppercase;
    font-size: 0.6rem;
}






.content{
    
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
}
.content main{
    display: grid;
    grid-template-rows: minmax(auto, 400px) 1fr;
    align-content: start;
}






.main-img-box{
    display: grid;
    grid-template-rows: 340px 40px;
    gap: 0.5rem;
    font-size: 28px;
    align-content: end;
    text-decoration: none;
    color: #37583E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-bottom: 1rem;
   
}
.main-img-box img {
    
    width: 100%;
    display: grid;
    place-content: center;
}



.main-news{
    margin-top: 5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2 auto-fit);
    gap: 2rem;
    justify-content: center;
}
.main-text{
    display: grid;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main-text p{
    display: grid;
    width: 650px;
}








.most-popular{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    gap: 1rem;
    padding-bottom: 2rem;
}
.most-popular-head{
    padding-bottom: 2rem;
    border: solid rgba(0, 0, 0, 0.082);
    border-top-style: inset;
    border-left: none;
    border-right: none;
    border-bottom-style: inset;
}
.most-popular-head h2{
    display: grid;
    grid-template-rows: 4.5rem;
    align-items: end;
    width: 100%;
    color: #0505059d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.most-popular-item{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1rem minmax(autofit);
    justify-content: center space-between;
    gap: 1rem;
    padding-bottom: 2rem;
    border: solid rgba(0, 0, 0, 0.082);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: inset;
    
}
.most-popular-item a{
    display: grid;
    place-content: start space-between;
    text-decoration: none;
    color: unset;
}
.most-popular-text{
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 16px;
}
    
.most-popular-item .number{
    width: 3rem;
    height: 3rem;
    display: grid;
    place-content: center;
    background-color:#37583E ;
    color: #f2f4f3;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif; ;
}
#load-more{
    display: grid;
    grid-template-rows: 3rem;
    place-items: center;
}
#load-more a{
    display: grid;
    place-content: center;
    width: 90%;
    height: 100%;
    text-decoration: none;
    color: #05050552;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    transition: 0.2s;
}
#load-more a:hover{
    box-shadow: 2px 1px 1px 0.1px black;
    transition: 0.5s;
    border: none;
}







































.newsletter{
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    place-content: center;
    height: 8rem;
    background-color:#37583E ;
    color: #f2f4f371;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.newsletter input{
    display: grid;
    grid-template-columns: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.801);
    border: none;
    padding-left: 1rem;
    width: 350px;
    background-color: #f2f4f3;
    
}
.newsletter img{
    border: solid #f2f4f3 1px;
    height: 100%;
}
footer{
    display: grid;
    grid-template-rows: repeat(4,auto);
}
.footer-li{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, auto-fit);
    align-items: start;
    padding: 4rem 8rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.856);
}
.footer-li h1{
    color: #f2f4f39d;
    display: grid;
    max-width: min-content;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}
.footer-li ul{
    list-style: none;
    color: #f2f4f39d;
    display: grid;
    gap: 2rem;
    font-size: 11px;
}
.footer-li a{
    text-decoration: none;
    color: unset;
    text-transform: uppercase;
}
.footer-li h3{
    color:#f2f4f3;
}
#go-to-begining{
    display: grid;
    width: 100%;
    place-items: center;
    background-color:#37583E;
    text-decoration: none;
    color: #f2f4f3;
    border: solid #f2f4f3 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-style: inset;
    transition: 0.5s;
    padding: 1rem 0;
}
#go-to-begining:hover{
    transform: translateY(-2px);
    transition: 0.5s;
}
.copyrights{
    display: grid;
    grid-template-rows: repeat(2,auto);
    place-items: center;
    gap: 5px;
    background-color:rgb(0, 0, 0);
    color:#f2f4f39d;
    padding: 1rem;
    font-size: 12px;
}
.copyright-logo-box{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 3px;
}
.copyright-logo-box img{
    display: grid;
    align-items: end;
    width: 15px;
}
.copyright-plicies{
    text-decoration: none;
    color: unset;
}
.copyright-plicies:hover{
    text-decoration: underline;
}